.decorator {
    min-height: inherit;
    background-color: var(--background-color);
    display: flex;
}

.decorator main {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.decorator main > div {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}