.post-content {
    margin-top: 16px;
}

.post-action {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.post-action form {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-left: 16px;
}

.post-action form input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-right: 12px;
    flex-grow: 1;
    padding: 4px 8px;
    font-size: 14px;
}

.post-action form input:focus, .post-action form input:focus-visible {
    outline: none;
}