* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, Inter, Roboto, 'Helvetica Neue', system-ui, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  transition: background 0.2s;
}

:root {
  --primary-color: #0466C8;
  --secondary-color: #000;
  --background-color: #ABD2E4;
  --foreground-color: #FFFFFF;
  --text-color: #023047;
  --secondary-text-color: #FFFFFF;
  --content-hover-color: #eceded;
  --error-message: #8F0633;
  --disabled-content: #BABABA;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  min-height: 100vh;
  overflow-x: hidden;
}

a, a:visited, a:active, a:focus {
  text-decoration: none;
  color: unset;
}

#root {
  min-height: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}