.icon-button {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    border-width: 0px;
    border-radius: 8px;
    padding: 6px 16px 8px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
}

.icon-button svg {
    margin-right: 8px;
}

.icon-button:hover {
    background-color: var(--content-hover-color);
}